# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# GTK / Meson / Cargo
gtk/build/
gtk/flatpak-build/
gtk/.flatpak-builder/
gtk/flatpak/.flatpak-builder/
gtk/flatpak/build-dir/
gtk/flatpak/repo/
gtk/target/
gtk/cargo-home/
**/cargo-target/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?